<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<style type="text/css">
			/*input {
				width: 30%;
			}*/
		</style>
		<title></title>
		<link href="__PUBLIC__/static/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/static/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/static/admin/css/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
	</head>
		<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
		<script type="text/javascript">
			function back(){
				window.history.go(-1);
			}
			function check(obj,id){
				// alert(id);
				$('.a'+id).attr('checked',obj.checked);
			}
		</script>
	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="javascript:back()">返回上一页</a> <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<form action="{:U('admin/adminaction/saveadd')}" method="post">
			<table   class="table table-border table-bordered table-bg mt-20">
				<tr>
					<th colspan="2">商品中台 - 栏目列表 - 添加栏目（填写在根目录下的路径）</th>
				</tr>
				<tr>
					<td><b>权限列表</b></td>
					<td>
						<select name="parent_id">
						<option value="0">顶级栏目</option>
					{foreach name="list" item="v"}
							<option value="{$v.action_id}">{$v.action_name}</option>
					{/foreach}
					</select>
					</td>
				</tr>
				<tr>
					<td width="10%"><b>栏目名称</b></td>
					<td width="90%"><input type="text" name="action_name" /></td>
				</tr>
				<tr>
					<td><b>栏目链接</b></td>
					<td><input type="text" name="action_code" /></td>
				</tr>
				<tr>
					<td><b>栏目排序</b></td>
					<td><input type="text" name="desc" value="0"/></td>
				</tr>
			<tr>
				<td colspan="2" style="padding-left: 10%; "><input type="submit"  value="确认添加" class="btn btn-primary radius"/></td>
			</tr>
		</table>
		</form>
	</body>
	
	<script type="text/javascript">
		function check(obj,id){
				var bool = obj.checked;
				if(bool){
					$('.a'+id).prop('checked',true);
				}else{
					$('.a'+id).prop('checked',false);
				}
				
			}
	</script>
</html>