<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/static/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/static/admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/static/admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/static/admin/css/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>后台登录 - 后台系统</title>
</head>
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <form class="form form-horizontal" id="logins" action="{:U('admin/index/index')}" method="post">
      <div class="row cl">
        <label class="form-label col-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-8">
          <input id="" name="username" type="text" placeholder="用户名" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-8">
          <input id="" name="password" type="password" placeholder="密码" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-8 col-offset-3">
          <input class="input-text size-L" type="text" name="code" placeholder="验证码" onblur="if(this.value==''){this.value='验证码:'}" onclick="if(this.value=='验证码:'){this.value='';}" value="验证码:" style="width:150px;">
          <img style="width:38%;height:34px;" id="id_img_captcha" src="{:U('admin/login/captcha')}" class="verify"  onclick="javascript:this.src='{:U('admin/login/captcha')}?rand='+Math.random()" alt="验证码" /> </div>
      </div>
      <div class="row">
        <div class="formControls col-8 col-offset-3">
          <label for="online">
            <input type="checkbox" name="online" id="online" value="">
            使我保持登录状态</label>
        </div>
      </div>
      <div class="row">
        <div class="formControls col-8 col-offset-3">
          <input name="" type="button" onclick="adminlog()" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
          <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="footer">Copyright 环球美淘</div>
<script type="text/javascript" src="__PUBLIC__/static/admin/js/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/static/admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/static/admin/js/1.9.3/layer.js"></script>
</body>
</html>
<script>
$(document).keydown(function(event){
    　　　　if(event.keyCode == 13){
    　　　　　　adminlog();
    　　　　}
    　　});
  function adminlog(){
    var name = $('input[name="username"]').val();
    var pass = $('input[name="password"]').val();
    var code = $('input[name="code"]').val();
    var online = $('#online').prop('checked');
    // if(online == true){
    //   online = 1;
    // }else{
    //   online = 0;
    // }
/*    if(!name){
      $('input[name="username"]').css('border-color',  '#b72e2e');
      return false;
    }else{
      $('input[name="username"]').css('border-color',  '#d5d5d5');
    }
    if(!pass){
      $('input[name="password"]').css('border-color',  '#b72e2e');
      return false;
    }else{
      $('input[name="password"]').css('border-color',  '#d5d5d5');
    }
    if(!code){
      $('input[name="code"]').css('border-color',  '#b72e2e');
      return false;
    }else{
      $('input[name="code"]').css('border-color',  '#d5d5d5');
    }*/
    $.ajax({
           type: "POST",
           url: "{:U('admin/Login/loginCheck')}",
           data: "user_name="+name+"&password="+pass+"&code="+code+"&online="+online,
           dataType:'json',
           success: function(data){
            if(data == 1){
              $('#logins').submit();
              return false;
            }else if(data == 2){
              layer.msg('验证码错误！!',{icon: 5,time:2000});
              var nae = Math.random();
              $("#id_img_captcha").attr('src', '{:U('admin/login/captcha')}?rand=' +nae );  
              return false;
            }else{
              layer.msg('用户名或密码错误！!',{icon: 5,time:2000});
              var nae = Math.random();
              $("#id_img_captcha").attr('src', '{:U('admin/login/captcha')}?rand=' +nae );
              return false;
            }       
            }
        });
              return false;
  }
</script>