<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<style type="text/css">
			input {
				width: 30%;
			}
		</style>
		<title></title>
		<link href="__PUBLIC__/static/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/static/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/static/admin/css/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
	</head>
		<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
		<script type="text/javascript">
			function back(){
				window.history.go(-1);
			}
		</script>
	<body>
		<nav class="breadcrumb"><a href="javascript:back()">返回上一页</a> <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<form action="{:U('admin/config/saveAdd')}" method="post">
			<table   class="table table-border table-bordered table-bg mt-20">
				<tr>
					<th colspan="2">后台系统 - 配置管理 - 添加配置信息</th>
				</tr>
				<tr>
					<td width="20%"><b>中台APPID</b></td>
					<td width="80%"><input type="text" name="appid" value="{$configArr.appid}"/></td>
				</tr>
				<tr>
					<td><b>中台APP密钥</b></td>
					<td><input type="text" name="appkey" value="{$configArr.appkey}" /></td>
					<td><input type="hidden" name="id" value="{$configArr.id}" /></td>
				</tr>
				<tr>
					<td><b>用户在环球美淘的uid</b></td>
					<td><input type="text" name="buyid" value="{$configArr.buyid}"></td>
				</tr>
				<tr>
					<td><b>用户的真实名字</b></td>
					<td>
						<input type="text" name="realname" value="{$configArr.realname}"/></td>
				</tr>
				<tr>
					<td><b>推荐码</b></td>
					<td>
						<input type="text" name="code" value="{$configArr.code}"/></td>
				</tr>
				<tr>
					<td><b>电话号码</b></td>
					<td>
						<input type="text" name="tel" value="{$configArr.tel}"/></td>
				</tr>
			<tr>
				<td colspan="2 " style="padding-left: 20%; "><input type="submit"  value="确认" class="btn btn-primary radius"/></td>
			</tr>
		</table>
		</form>
	</body>
</html>