<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link href="__PUBLIC__/static/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/static/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/static/admin/css/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
		<title></title>
		<style type="text/css">
			.num {
				margin: 10px 5px;
			}
			
			.num,.next,.prev {
				text-decoration: none;
				color: #f00;
				padding: 0px 8px;
				border: 1px solid gray;
			}
			
			.current:after {
				content: '页';
			}
			
			.current:before {
				content: '第';
			}
		</style>
		<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
		<script type="text/javascript">
			$(function() {
				$('#page').blur(function(){
						var url = window.location.href;
						var value = $('#page').val();
						if(value>0){
							$.get('{:U('admin/index/setCookie')}','pageshop='+value,function(data){
								url = url+'?'+$('#form').serialize();
								window.location.href = url;
							});
						}
						
					});
				$("#page").keydown(function(event){
			　　　　if(event.keyCode == 13){
			　　　　　　var url = window.location.href;
						var value = $('#page').val();
						if(value>0){
							$.get('{:U('admin/index/setCookie')}','pageshop='+value,function(data){
								url = url+'?'+$('#form').serialize();
								window.location.href = url;
							});
						}
			　　　　}
			　　});
			});
		</script>
	</head>

	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 后台系统 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 用户分佣列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
			<div  class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		<a href="{:U('admin/commissionrate/add')}"  class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户分佣等级比例</a>
		</span> 
		<span class="r">每页显示<strong><input type="text" size='5' value="{$Think.cookie.pageshop}" id="page"></strong> 条</span> 
		</div>
			<table  class="table table-border table-bordered table-bg mt-20">
			<tr>
				<th>编号</th>
				<th>用户等级</th>
				<th>等级名称</th>
				<th>购买商品类型</th>
				<!-- <th>一级分佣</th>
				<th>二级分佣</th>
				<th>会员分佣百分比例</th>
				<th>店长分佣百分比例</th> -->
				<th>操作</th>
			</tr>
			{foreach name="arr" item="v"}
			<tr>
				<td>{$v.rate_id}</td>
				<td>{$v.user_rank}</td>
				<td>{$v.rank_name}</td>
				<td>
				{if condition="$v['goods_type'] eq 0"}
				普通商品
				{elseif condition="$v['goods_type'] eq 1" /}
				会员礼包
				{/if}
				</td>
				<!-- <td>{$v.first_comm}</td>
				<td>{$v.second_comm}</td>
				<td>{$v.member_comm}</td>
				<td>{$v.shop_comm}</td> -->
				<td align="center">
	            <a href="{:U('admin/commissionrate/remove')}?rate_id={$v.rate_id}" ><img src="__PUBLIC__/admin/images/icon_drop.gif" title="移除"/></a><br/><a href="{:U('admin/commissionrate/add')}?rate_id={$v.rate_id}"><img src="__PUBLIC__/admin/images/icon_edit.gif" title="编辑"/></a>
	          </td>
			</tr>
			{/foreach}
			<tr>
				<td colspan="10" align="center">
					{$show}
				</td>
			</tr>
		</table>
	</body>

</html>