<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<style type="text/css">
			input {
				width: 60%;
			}
		</style>
		<title></title>
		<link href="__PUBLIC__/static/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/static/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/static/admin/css/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
	</head>

	<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
		<script type="text/javascript">
			function back(){
				window.history.go(-1);
			}
		</script>
	<body>
		<nav class="breadcrumb"><a href="javascript:back()">返回上一页</a> <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<form action="{:U('admin/touchship/saveEdit')}" method="post">
			<table   class="table table-border table-bordered table-bg mt-20">
				<tr>
					<th colspan="2">后台系统 - 快递列表 - 编辑快递信息</th>
				</tr>
				<tr>
					<td width="20%"><b>快递名称</b></td>
					<td width="80%">
					<input type="text" name="shipping_name"  value="{$touchShipArr.shipping_name}"/></td>
					<input type="hidden" name="touch_id"  value="{$touchShipArr.touch_id}"/></td>
				</tr>
				<tr>
					<td><b>快递描述</b></td>
					<td><textarea name="shipping_desc" cols="50" rows="10">{$touchShipArr.shipping_desc}</textarea></td>
				</tr>
				<tr>
					<td><b>请求接口类型参数</b></td>
					<td><input type="text" name="shipping_code" value="{$touchShipArr.shipping_code}"></td>
				</tr>
				<tr>
					<td><b>保价费用</b></td>
					<td>
						<input type="number" name="insure" value="{$touchShipArr.insure}"/></td>
			</tr>
			<tr>
				<td><b>货到付款</b></td>
				<td style="padding-left: 0 "><input type="checkbox" name="delivery" {if condition="$touchShipArr['delivery']==1" }checked="checked" {/if}/></td>
			</tr>
			<tr>
				<td colspan="2 " style="padding-left: 20%; "><input type="submit"  value="确认编辑" class="btn btn-primary radius"/></td>
			</tr>
		</table>
		</form>
	</body>

</html>