{include file="footer" /}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title>粉丝列表</title>
  <!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Test/css/api.css"/> -->
  <link href="__PUBLIC__/Home/Test/css/ectouch.css" rel="stylesheet" type="text/css" />
</head>
<style>
  /*.tuoke_menus {
    border-top: 1px solid #dedede;
    margin-top: 68px;
    background: white;
    margin-bottom: 5px;
  }
  .tuoke_menus li {
    display: inline-block;
    width: 48%;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
  }*/
    .tuoke_menus {
      margin-bottom: 5px;
    }
  .tuoke_menus_item {
      display: inline-block;
      width: 25%;
      margin: 0 12%;
      height: 2.2rem;
      line-height: 2.2rem;
      text-align: center;
  }
  .tuoke_status_record_content:nth-of-type(3) .font_style_light_white{
      color: #ffba42 !important;
      font-size: 1.0em;
  }
    .active {
      color: #ffba42;
      border-bottom: 0.2rem solid #ffba42;
    }
    .tuoke_menus_title {
      padding:10px 10px 10px 15px;
      border-bottom: 1px solid #dedede;
      background: white;
      /*margin-top: -559px;*/
    }
	.tuoke_no_data {
		color: #7c7c7c;
		font-size: 1.2em;
		margin: 80px 0;
		text-align: center;
	}
  .active {
    color: #ff5340;
  }
  .font_style_black {
    font-size: 1.2em
  }
  .loading-wrap{
    bottom: 50px;
    width: 100%;
    height: 55px;
    text-align: center;
    display: none;
  }
  .loading {
    padding: 4px 3% 4px 3%;
    height: 32px;
    line-height: 0px;
    color: #FFF;
    font-size: 12px;
    border-radius: 5px;
    background: 10px center rgba(0,0,0,.7);
  }
  .list_items{
  padding: 0px 10px;
  margin-bottom: 10px;
  background: #fff;
  position:relative;
}
.mediaL .list_items{
  padding: 0px 10px 10px;
}
</style>
<body>
  <div id="page">
    <header id="header">
      <div class="header_l">
        <a class="ico_10" onclick="back()" href="javascript:;"> 返回 </a>
      </div>
      <h1> 粉丝管理 {$fans_list.length}</h1>
    </header>
  </div>
  <!-- <div class="tuoke_menus font_style_black">
		<ul>
			<li class="active">直接粉丝</li>
			<li>间接粉丝</li>
		</ul>
  </div> -->
      <ul style="margin-top: 48px; background: white;">
        <li class="tuoke_menus_item active" onclick="selectItem(this,0);">会员({$fans_list_vip_count})</li>
        <li class="tuoke_menus_item" onclick="selectItem(this,1);">普通用户({$fans_list_count})</li>
      </ul>
    	<ul class="tab_content fans_lists" id="list_boxs" style="margin-top: 10px;">
    		<li class="tab_contentli mediaL bod" id="fans_list" v-cloak>
    			<ul class="con_list" id="con_list">
            {empty name="fans_list_vip"}
              <p class="tuoke_no_data">暂无数据</p>
            {else /}
            {foreach name="fans_list_vip" item="vo" }
    				<li id="list_items" class="list_items font_style_black" style="width:95%" v-for="item in tk_fans">
    					<div class="media" style="border-bottom: 1px solid #eee;padding-bottom: 0;">
    						<div class="media_left">
    							<img class="icon_name1" src="{$vo.headimgurl}" alt="" />
    						</div>
    						<div class="media_right">
    							<p class="border1" style="padding-top: 12px;">微信昵称：<span style="color: black;font-size: 16px;font-weight: bold;">{$vo.nickname}</span></p>
                  <!--                   <p class="border1" style="padding-top: 12px;">用户等级：<span style="color: black;font-size: 16px;font-weight: bold;">{if condition="$vo.user_rank eq 1"} 普通用户{else /} 超级会员{/if}
                  </span></p> -->
    							<p style="padding:10px 0;">账号：{$vo.phone}</p>
    						</div>
    					</div>
    					<div class="media_foot" style="border-bottom: 1px solid #eee;padding-bottom: 10px;">
    						<span style="color: #444444;float: right;">历史消费：<em style="color: #ff5340; font-size: 1.1em;">¥ {$vo.historical_cons}</em></span>
    						<!-- <span style="color: #444444;float: right;">ID: {$vo.uid}</em> -->
              </div>
            </li>
            {/foreach}
            {/empty}
          </ul>
          <div id="loading" class="loading-wrap">
            <span class="loading" id="loadingls">加载中，请稍后...</span>
          </div>
          <!-- <div id="loading_ls" display='inherit'  class="loading-wrap">
            <span class="loading_ls" id="loadingls_ls">数据已全部加载完毕!</span>
          </div> -->
        </li>
        <li class="tab_contentli mediaL bod" id="fans_list_ls" v-cloak>
          <ul class="con_list" id="con_list_ls">
            {empty name="fans_list"}
              <p class="tuoke_no_data">暂无数据</p>
            {else /}
            {foreach name="fans_list" item="vo" }
            <li id="list_items_ls" class="list_items font_style_black" style="width:95%" v-for="item in tk_fans">
              <div class="media" style="border-bottom: 1px solid #eee;padding-bottom: 0;">
                <div class="media_left">
                  <img class="icon_name1" src="{$vo.headimgurl}" alt="" />
                </div>
                <div class="media_right">
                  <p class="border1" style="padding-top: 12px;">微信昵称：<span style="color: black;font-size: 16px;font-weight: bold;">{$vo.nickname}</span></p>
                  <!--                   <p class="border1" style="padding-top: 12px;">用户等级：<span style="color: black;font-size: 16px;font-weight: bold;">{if condition="$vo.user_rank eq 1"} 普通用户{else /} 超级会员{/if}
                  </span></p> -->
                  <p style="padding:10px 0;">账号：{$vo.phone}</p>
                </div>
              </div>
              <div class="media_foot" style="border-bottom: 1px solid #eee;padding-bottom: 10px;">
                <span style="color: #444444;float: right;">历史消费：<em style="color: #ff5340; font-size: 1.1em;">¥ {$vo.historical_cons}</em></span>
                <!-- <span style="color: #444444;float: right;">ID: {$vo.uid}</em> -->
              </div>
            </li>
            {/foreach}
            {/empty}
          </ul>
          <div id="loading_ls" class="loading-wrap">
            <span class="loading" id="loadingls_ls">加载中，请稍后...</span>
          </div>
          <!-- <div id="loading_ls" display='inherit'  class="loading-wrap">
            <span class="loading_ls" id="loadingls_ls">数据已全部加载完毕!</span>
          </div> -->
        </li>
      </ul>
</body>
<!-- <script type="text/javascript" src="__PUBLIC__/Home/Test/script/api.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/Home/Test/script/vue.min.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/Home/Test/script/loading.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/Home/Test/script/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/Test/script/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/Test/script/masonry-docs.min.js"></script>
<script>
  window.left_in='0';
  window.right_in='0';
  function dob (fn) {
    var timer = null;
    return function () {
      if (!!timer) {
          window.clearTimeout(timer);
      }
      timer = setTimeout(fn, 500);
    }
  }
  var tab='left';
$(function(){
    //执行瀑布流
    // alert(tab)
    $('#fans_list_ls').hide();
    var $container = $('#con_list');
    $container.masonry({
      itemSelector : '#list_items',
      isAnimated: true
    });

  // var loading = $("#loading").data("on", false);
  var loading = $("#loading_ls").data("on", false);
  //console.log(loading)
  var scrollFn = dob(function(){
    // alert(tab);
    if (tab == 'left') {
      var loading = $("#loading").data("on", false);
      if(left_in == '1') return;
      if(loading.data("on")) return;
      if($(document).scrollTop() > $(document).height()-$(window).height() && $('#list_items').height() !=null){
        // console.log(loading)
        //加载更多数据
        loading.data("on", true).fadeIn();
        
        $.get(
          "{:U('Test/tuoke_fans_pubu')}",
          /*{"last_id" : $("#list_items>div:last>input").val()},*/
          {'last_num':document.getElementById("con_list").getElementsByTagName("li").length,'type':'2'},
          function(data){
            var html = "";
            // console.log(data);
            if(data['error'] == '0'){
              var arr = data['data'];
              // console.log(arr);
              for(i in arr){
                var user_rank = '';
                if(arr[i]['user_rank'] == '1'){
                  user_rank = '通用户';
                }else{
                  user_rank = '超级会员';
                }
                
                html += '<li id="list_items" class="list_items font_style_black"  style="width:95%" v-for="item in tk_fans"><div class="media" style="border-bottom: 1px solid #eee;padding-bottom: 0;"><div class="media_left"><img class="icon_name1" src="'+arr[i]['headimgurl']+'" alt="" /></div><div class="media_right"><p class="border1" style="padding-top: 12px;">微信昵称：<span style="color: black;font-size: 16px;font-weight: bold;">'+arr[i]['nickname']+'</span></p><p class="border1" style="padding-top: 12px;">用户等级：<span style="color: black;font-size: 16px;font-weight: bold;">'+user_rank+'</span></p><p style="padding:10px 0;">手机号码：'+arr[i]['phone']+'</p></div></div><div class="media_foot" style="border-bottom: 1px solid #eee;padding-bottom: 10px;"><span style="color: #444444;float: left;">历史消费：<em style="color: #ff5340; font-size: 1.1em;">¥ '+arr[i]['historical_cons']+'</em></span><span style="color: #444444;float: right;">ID: '+arr[i]['uid']+'</em></div></li>'

              }
              // console.log(html);
              var $newElems = $(html).css({ opacity: 0 }).appendTo($container);
              $newElems.imagesLoaded(function(){
                $newElems.animate({ opacity: 1 });
                $container.masonry( 'appended', $newElems, true ); 
                  });
                  loading.data("on", false);
                  loading.fadeOut();
            }else{
              //alert(1)
              left_in = '1';
              $('#loadingls').html('全部数据已经加载完！');
              // $('#fans_list_ls').hide();
            }
          },
          "json"
        );
      }
    }else if (tab == 'right') {
      loading = $("#loading_ls").data("on", false);
      if(right_in == '1') return;
      if(loading.data("on")) return;
      if($(document).scrollTop() > $(document).height()-$(window).height() && $('#list_items_ls').height() !=null){
        // console.log(loading)
        //加载更多数据
        loading.data("on", true).fadeIn();
        
        $.get(
          "{:U('Test/tuoke_fans_pubu')}",
          /*{"last_id" : $("#list_items>div:last>input").val()},*/
          {'last_num':document.getElementById("con_list_ls").getElementsByTagName("li").length,'type':'1'},
          function(data){
            var html = "";
            // console.log(data);
            if(data['error'] == '0'){
              var arr = data['data'];
              // console.log(arr);
              for(i in arr){
                var user_rank = '';
                if(arr[i]['user_rank'] == '1'){
                  user_rank = '通用户';
                }else{
                  user_rank = '超级会员';
                }
                
                html += '<li id="list_items_ls" class="list_items font_style_black"  style="width:95%" v-for="item in tk_fans"><div class="media" style="border-bottom: 1px solid #eee;padding-bottom: 0;"><div class="media_left"><img class="icon_name1" src="'+arr[i]['headimgurl']+'" alt="" /></div><div class="media_right"><p class="border1" style="padding-top: 12px;">微信昵称：<span style="color: black;font-size: 16px;font-weight: bold;">'+arr[i]['nickname']+'</span></p><p class="border1" style="padding-top: 12px;">用户等级：<span style="color: black;font-size: 16px;font-weight: bold;">'+user_rank+'</span></p><p style="padding:10px 0;">手机号码：'+arr[i]['phone']+'</p></div></div><div class="media_foot" style="border-bottom: 1px solid #eee;padding-bottom: 10px;"><span style="color: #444444;float: left;">历史消费：<em style="color: #ff5340; font-size: 1.1em;">¥ '+arr[i]['historical_cons']+'</em></span><span style="color: #444444;float: right;">ID: '+arr[i]['uid']+'</em></div></li>'

              }
              $("#con_list_ls").append(html);
              // console.log(html);
              // var $newElems = $(html).css({ opacity: 0 }).appendTo($container);
              // $newElems.imagesLoaded(function(){
              //   $newElems.animate({ opacity: 1 });
              //   $container.masonry( 'appended', $newElems, true ); 
              //     });
                  loading.data("on", false);
                  loading.fadeOut();
            }else{
              //alert(1)
              right_in = '1';
              $('#loadingls_ls').html('全部数据已经加载完！');
              // $('#fans_list_ls').hide();
            }
          },
          "json"
        );
      }
    }

  });
  $(window).scroll(function() {
    scrollFn();
  });
});
  function selectItem(ele,index) {
    var element = $(ele);
    if(!element.hasClass('active')) {
      element.addClass('active').siblings().removeClass('active');
      switch (index) {
        case 0:
          
          $('#fans_list').show();
          $('#fans_list_ls').hide();
          break;
        default:
          $('#fans_list_ls').show();
          //$('#fans_list_ls').text(x.left);  
          $('#fans_list').hide();
          break;
      }
      tab = !!index ?  'right' : 'left';
    }
  }
  function back(){
    // alert('返回');
    javascript:window.location.href='{:U('Home/Test/my_tuoke')}';
  }
</script>
</html>
