<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link href="__PUBLIC__/static/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/static/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/static/admin/css/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
		<title></title>
		<style type="text/css">
			.num {
				margin: 10px 5px;
			}
			
			.num,.next,.prev {
				text-decoration: none;
				color: #f00;
				padding: 0px 8px;
				border: 1px solid gray;
			}
			
			.current:after {
				content: '页';
			}
			
			.current:before {
				content: '第';
			}
			.edit:hover {
			    color: rgb(255,0,0);
			    /* font-size: 20px; */
			}
		</style>
		<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
		<script type="text/javascript">
			$(function() {
				$('[name="nickname"]').val('{$data.nickname}');
				$('[name="uid"]').val('{$data.uid}');
				$('[name="sj_uid"]').val('{$data.sj_uid}');
				$('[name="shop_id"]').val('{$data.shop_id}');
				$('[name="phone"]').val('{$data.phone}');
				$('[name="start"]').val('{$data.start}');
				$('[name="end"]').val('{$data.end}');
				$('#page').blur(function(){
						var url = window.location.href;
						var value = $('#page').val();
						if(value>0){
							$.get('{:U('admin/index/setCookie')}','pageshop='+value,function(data){
								url = url+'?'+$('#form').serialize();
								window.location.href = url;
							});
						}
						
					});
				$("#page").keydown(function(event){
			　　　　if(event.keyCode == 13){
			　　　　　　var url = window.location.href;
						var value = $('#page').val();
						if(value>0){
							$.get('{:U('admin/index/setCookie')}','pageshop='+value,function(data){
								url = url+'?'+$('#form').serialize();
								window.location.href = url;
							});
						}
			　　　　}
			　　});
			});
			//修改订单信息
			function edit(obj, key, id, idval){
				var that = $('#'+obj);
				var val = that.html();
				var parent = that.parent();
				that.html('');
				parent.append('<input type="text" name="'+key+'" value="'+val+'" autofocus="autofocus">');
				$('#'+obj).siblings('[name="'+key+'"]').focus();
				update(obj, key, id, idval, val);
				// return false;
			}
			//请求更新
			function update(obj, key, id, idval, value){
				$('#'+obj).siblings('[name="'+key+'"]').blur(function(){
					var val = $('#'+obj).siblings('[name="'+key+'"]').val();
					// alert(val)
					// return;
					$.post('{:U('Admin/User/update')}',key+'='+val+'&'+id+'='+idval,function(res){
						$('#'+obj).siblings('[name="'+key+'"]').remove();
						// var res = JSON.parse(res);
						if(res == 1){
							$('#'+obj).html(val);
						}else{
							$('#'+obj).html(value);
						}
					});
				})
				$('#'+obj).siblings('[name="'+key+'"]').keydown(function(event){
				　　　　if(event.keyCode == 13){
						var val = $('#'+obj).siblings('[name="'+key+'"]').val();
						// alert(val)
						// return;
						$.post('{:U('admin/order/update')}',key+'='+val+'&'+id+'='+idval,function(res){
							$('#'+obj).siblings('[name="'+key+'"]').remove();
							// var res = JSON.parse(res);
							if(res == 1){
								$('#'+obj).html(val);
							}else{
								$('#'+obj).html(value);
							}
						});
				// 　　　　　　var url = window.location.href;
						return false;
				　　　　}
			　　});

				// $(document).on('change','#'+obj+' [name="'+key+'"]',function(){
					
				// });
			}
		</script>
	</head>

	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 后台系统 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 用户信息列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<br />
			<form action="{:U('admin/user/lists')}" method="post">
				<input type="text" name="uid" placeholder="用户id"/>
				<input type="text" name="sj_uid" placeholder="用户上级uid"/>
				<input type="text" name="shop_id" placeholder="店铺id"/>
				<input type="text" name="nickname" placeholder="用户昵称"/>
				<input type="text" name="phone" placeholder="用户电话"/></br>
				开始：<input type="datetime-local" name="start" placeholder="开始时间"/>
				结束：<input type="datetime-local" name="end" placeholder="结束时间"/>
				<input type="submit" value="搜索"  class="btn btn-success radius"/>
			</form>
			<div  class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		<!-- <a href="{:U('admin/thestore/lists')}"  class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 店铺列表</a> -->
		当前条件下用户总数为 <span style="color:red;">{$count_data.count}</span> , 历史消费总金额为 <span style="color:red;">{$count_data.historical_cons}</span>
		</span> 
		<span class="r">每页显示<strong><input type="text" size='5' value="{$Think.cookie.pageshop}" id="page"></strong> 条</span> 
		</div>
			<table  class="table table-border table-bordered table-bg mt-20">
			<tr>
				<th>用户ID</th>
				<th>用户等级</th>
				<th>电话号码</th>
				<th>用户昵称</th>
				<th>用户头像</th>
				<th>性别</th>
				<th>最近浏览店铺ID</th>
				<th>上级ID</th>
				<th>历史消费总额</th>
				<th>注册时间</th>
			</tr>
			{foreach name="arr" item="v"}
			<tr>
				<td>{$v.uid}</td>
				<td>
				{$v.rank_name}
				</td>
				<td>
					<span class="edit" id="phone{$v.uid}" style="cursor: pointer;" onClick="edit('phone{$v.uid}','phone','uid','{$v.uid}')">{$v['phone']?:'没有号码'}</span>
				</td>
				<td>{$v.nickname}</td>
				<td>
				<img src="{$v.headimgurl}" alt="用户头像" width="60px" height="60px" style="border-radius:50%;">
				</td>
				<td>
				{if condition="$v['sex'] eq 0"}
				未知
				{elseif condition="$v['sex'] eq 1" /}
				男
				{elseif condition="$v['sex'] eq 2" /}
				女
				{/if}
				</td>
				<td>{$v.shop_name}({$v.shop_id})</td>
				<td>{$v.sj_uid}({$v.sj_nickname})</td>
				<td>{$v.historical_cons}</td>
				<td>{$v.reg_time|date="y-m-d H:i:s",###}</td>

			</tr>
			{/foreach}
			<tr>
				<td colspan="10" align="center">
					{$show}
				</td>
			</tr>
		</table>
	</body>

</html>